* {
	background-color: inherit;
	color: white;
}
body {
	display: flex;
	font-family: "Fira Sans", sans-serif;
	margin: 0px;
}
.left-side {
	align-content: flex-start;
	display: flex;
	flex-flow: row wrap;
	width: 65%;
}
.right-side {
	display: flex;
	justify-content: flex-start;
	width: 35%;
}
.icon {
	background-color: inherit;
	width: 70px;
}
.info-box {
	align-items: center;
	background-color: #71ACE5;
	display: flex;
	height: 33.33%;
	justify-content: center;
	width: 66.66%;
}

.info-buttons {
	border: 2px solid white;
	font-size: 16px;
	height: 20%;
	margin: 10px;
	padding: 10px;
	width: 50%;
}
.button-container {
	align-items: flex-start;
	display: flex;
	flex-direction: row;
	width: 75%;
}
.sm-box {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 33.33%;
	justify-content: center;
	width: 33.33%;
}
.article-1 {
	background-color: #FFDE74;
}
.article-2 {
	background-color: #FFA174;
}
.article-3 {
	background-color: #FFDE74;
}
.article-4 {
	background-color: #71ACE5;
}
.article-5 {
	background-color: #FFDE74;
}
.article-6 {
	background-color: #FFA174;
}
.article-7 {
	background-color: #FFDE74;
}
.large-pic {
	height: 800px;
}
